<a href="https://colab.research.google.com/github/emxelux/Amazon-analysis-report/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("Amazon Sale Report - Copy.csv")

/tmp/ipython-input-1066/1764570775.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Amazon Sale Report - Copy.csv")

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [ ]:
df.shape

(128975, 24)

In [ ]:
df.drop(['index', 'fulfilled-by', 'Unnamed: 22'], axis = 1, inplace=True)

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False
1,171-9198151-1101146,4/30/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,404-0687676-7273146,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False
4,407-1069790-7240320,4/30/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
df['ship-country'].unique()

array(['IN', nan], dtype=object)

In [ ]:
df['ship-country'] = df['ship-country'].fillna(df['ship-country'].mode([0]))

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
df.Status.unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged', 'Shipping'],
      dtype=object)

In [ ]:
df['Status'] = df['Status'].replace({
    'Shipped - Delivered to Buyer': 'Delivered',
    'Shipped - Returned to Seller': 'Returned',
    'Shipped - Rejected by Buyer': 'Rejected',
    'Shipped - Lost in Transit': 'Lost in Transit',
    'Shipped - Out for Delivery': 'In Transit',
    'Shipped - Returning to Seller': 'Returned', # Assuming it's on its way back, but not fully 'Returned' yet
    'Shipped - Picked Up': 'In Transit',
    'Shipped - Damaged': 'Damaged',
    'Shipping': 'In Transit',
    'Pending - Waiting for Pick Up': 'Pending',
    'Shipped': 'In Transit' # Generic 'Shipped' often means in transit
})

In [ ]:
print(df['Status'].unique())

['Cancelled' 'Delivered' 'In Transit' 'Returned' 'Rejected'
 'Lost in Transit' 'Pending' 'Damaged']

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
print(df['Courier Status'].unique())

In [ ]:
# Filling null values in 'Courier Status' based on 'Status' column
df.loc[df['Courier Status'].isnull(), 'Courier Status'] = df.loc[df['Courier Status'].isnull(), 'Status']

# Standardized some 'Courier Status' values to match 'Status' categories
df['Courier Status'] = df['Courier Status'].replace({
    'Shipped': 'In Transit', # Map generic 'Shipped' to 'In Transit'
    'Cancelled': 'Cancelled',
    'Pending': 'Pending',
    'Returned': 'Returned',
    'Rejected': 'Rejected',
    'Lost in Transit': 'Lost in Transit',
    'Damaged': 'Damaged',
    'Delivered': 'Delivered'
})

print(df['Courier Status'].unique())
print(df['Courier Status'].isnull().sum())

['Cancelled' 'In Transit' 'Unshipped' 'Delivered' 'Returned']
0

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
df.currency.unique()

array(['INR', nan], dtype=object)

In [ ]:
df.currency.fillna(df.currency.mode()[0], inplace=True)

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,Cancelled,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False
1,171-9198151-1101146,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,In Transit,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,404-0687676-7273146,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,In Transit,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,Cancelled,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False
4,407-1069790-7240320,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,In Transit,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False

In [ ]:
df[df.Amount <=0]

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
212,408-4547464-4180323,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3568,JNE3568-KR-XXL,kurta,XXL,...,In Transit,1,INR,0.0,BHUBANESWAR,ODISHA,752054.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
374,408-5020509-5674715,4/30/2022,Returned,Merchant,Amazon.in,Standard,JNE3798,JNE3798-KR-M,Western Dress,M,...,In Transit,1,INR,0.0,NEW DELHI,DELHI,110096.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
385,408-3137526-3167563,4/30/2022,In Transit,Amazon,Amazon.in,Standard,JNE3405,JNE3405-KR-L,kurta,L,...,In Transit,1,INR,0.0,DARJEELING,WEST BENGAL,734101.0,IN,NaN,False
388,408-7971979-8745937,4/30/2022,Delivered,Merchant,Amazon.in,Standard,J0401,J0401-DR-XS,Western Dress,XS,...,In Transit,1,INR,0.0,LUDHIANA,PUNJAB,141001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
392,408-0912805-7526753,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,SET365,SET365-KR-NP-L,Set,L,...,In Transit,1,INR,0.0,MUMBAI,MAHARASHTRA,400101.0,IN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128550,408-6490796-0249925,6/1/2022,In Transit,Amazon,Amazon.in,Expedited,SET374,SET374-KR-NP-L,Set,L,...,In Transit,1,INR,0.0,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False
128612,408-9074023-7691550,6/1/2022,Delivered,Merchant,Amazon.in,Standard,BTM046,BTM046-PP-M,Bottom,M,...,In Transit,1,INR,0.0,INDORE,MADHYA PRADESH,452016.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
128685,408-9473849-4953122,6/1/2022,In Transit,Amazon,Amazon.in,Standard,J0339,J0339-DR-M,Western Dress,M,...,In Transit,1,INR,0.0,MOHALI,PUNJAB,140301.0,IN,NaN,False
128804,408-9579839-6574765,6/1/2022,Delivered,Merchant,Amazon.in,Standard,SET357,SET357-KR-NP-XL,Set,XL,...,In Transit,1,INR,0.0,VADAKARA,KERALA,673101.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
128837,408-4237588-2626757,6/1/2022,In Transit,Amazon,Amazon.in,Expedited,J0244,J0244-SKD-L,Set,L,...,In Transit,1,INR,0.0,HYDERABAD,TELANGANA,500034.0,IN,NaN,False

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency                  0
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
cancelled_zero_amount_orders = df[(df['Amount'] <= 0) & (df['Status'] == 'Cancelled')]
print(f"Number of cancelled orders with 0 or less amount: {len(cancelled_zero_amount_orders)}")
display(cancelled_zero_amount_orders[['Status', 'Courier Status', 'Amount']].head())

Number of cancelled orders with 0 or less amount: 0

Empty DataFrame
Columns: [Status, Courier Status, Amount]
Index: []

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,Cancelled,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False
1,171-9198151-1101146,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,In Transit,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,404-0687676-7273146,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,In Transit,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,Cancelled,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False
4,407-1069790-7240320,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,In Transit,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False

In [ ]:
df.drop(['currency', 'Courier Status', 'ship-country'], axis = 1, inplace = True)

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,647.62,MUMBAI,MAHARASHTRA,400081.0,NaN,False
1,171-9198151-1101146,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False
2,404-0687676-7273146,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,NaN,False
4,407-1069790-7240320,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,574.00,CHENNAI,TAMIL NADU,600073.0,NaN,False

In [ ]:
df['Total Amount'] = df['Amount'] * df['Qty']

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B,Total Amount
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,647.62,MUMBAI,MAHARASHTRA,400081.0,NaN,False,0.0
1,171-9198151-1101146,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False,406.0
2,404-0687676-7273146,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True,329.0
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,NaN,False,0.0
4,407-1069790-7240320,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,574.00,CHENNAI,TAMIL NADU,600073.0,NaN,False,574.0

In [ ]:
print(f"Missing values in 'Amount' column: {df['Amount'].isnull().sum()}")

Missing values in 'Amount' column: 7795

In [ ]:
df['Amount'] = df.groupby('SKU')['Amount'].transform(lambda x: x.fillna(x.median()))
print(f"Missing values in 'Amount' column after SKU-based imputation: {df['Amount'].isnull().sum()}")

Missing values in 'Amount' column after SKU-based imputation: 44

In [ ]:
df['Amount'] = df.groupby('Category')['Amount'].transform(lambda x: x.fillna(x.median()))
print(f"Missing values in 'Amount' column after Category-based imputation: {df['Amount'].isnull().sum()}")

Missing values in 'Amount' column after Category-based imputation: 0

In [ ]:
print(f"Missing values in 'Amount' column after all imputations: {df['Amount'].isnull().sum()}")
df.head()

Missing values in 'Amount' column after all imputations: 0

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B,Total Amount
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,647.62,MUMBAI,MAHARASHTRA,400081.0,NaN,False,0.0
1,171-9198151-1101146,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False,406.0
2,404-0687676-7273146,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True,329.0
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,NaN,False,0.0
4,407-1069790-7240320,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,574.00,CHENNAI,TAMIL NADU,600073.0,NaN,False,574.0

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Qty                       0
Amount                    0
ship-city                33
ship-state               33
ship-postal-code         33
promotion-ids         49153
B2B                       0
Total Amount           7795
dtype: int64

In [ ]:
list(df['ship-city'].unique())

['MUMBAI',
 'BENGALURU',
 'NAVI MUMBAI',
 'PUDUCHERRY',
 'CHENNAI',
 'GHAZIABAD',
 'CHANDIGARH',
 'HYDERABAD',
 'Chennai',
 'NOIDA',
 'Amravati.',
 'GUNTAKAL',
 'JAIPUR',
 'NEW DELHI',
 'Gurgaon',
 'TIRUCHIRAPPALLI',
 'pune',
 'TEZPUR',
 'RANCHI',
 'BILASPUR',
 'PUNE',
 'GUWAHATI',
 'THIRUVARUR',
 'LUCKNOW',
 'VISAKHAPATNAM',
 'JEYPUR',
 'THIRUVANANTHAPURAM',
 'GREATER NOIDA',
 'JABALPUR',
 'KOLKATA',
 'ONGOLE',
 'SECUNDERABAD',
 'KEWALPUR',
 'CUTTACK',
 'BADLAPUR',
 'dimapur',
 'WARANGAL',
 'DHAULPUR',
 'Bengaluru',
 'NAGPUR',
 'THANE',
 'Dahod',
 'VIJAPURA',
 'bangalore',
 'BERHAMPUR',
 'HIMMATNAGAR',
 'Kolkata',
 'DEHRADUN',
 'DHARMAPURI',
 'VADODARA',
 'CHAVAKKAD',
 'PATNA',
 'Jammu',
 'NARNAUND',
 'Ahmedabad',
 'AMBARNATH',
 'GWALIOR',
 'ROHTAK',
 'RAMAGUNDAM',
 'PITHORAGARH',
 'GUWAHATI, KAMRUP (M)',
 'KOLAR',
 'PATIALA',
 'REWA',
 'BONGAIGAON',
 'Chengalpattu',
 'PERAMBALUR',
 'VARANASI',
 'COIMBATORE',
 'CHIRMIRI',
 'AZAMGARH',
 'KALYAN',
 'MYSORE',
 'BARABANKI',
 'AMILA',
 'VIJAYAWADA',
 'RAWAN AMBUJA CEMENT PLANT',
 'HERBERTPUR',
 'KALAMASSERY',
 'Puri-2',
 'TIKABALI',
 'BIHARSHARIF',
 'PARAVUR',
 'BASTI',
 'WALAJAPET',
 'Dimapur',
 'Mahendragarh',
 'New Delhi',
 'GURUGRAM',
 'BIJNOR',
 'ALLAHABAD',
 'VASAI VIRAR',
 'MANGALURU',
 'NEW TOWN',
 'SAMBHAL',
 'ELAVANASURKOTTAI',
 'SANGLI MIRAJ KUPWAD',
 'MYSURU',
 'ANKLESHWR',
 'Greater Noida West',
 'JAMMU',
 'ITANAGAR',
 'KARANJA',
 'NIMBAHERA',
 'Imphal East',
 'BIDHAN NAGAR',
 'AHMEDABAD',
 'BHUBANESWAR',
 'ALIGARH',
 'KOCHI',
 'Bangalore',
 'MALAPPURAM',
 'SIBSAGAR',
 'GAYA',
 'KOLLAM',
 'PERALASSERI',
 'UDUPI',
 'MARIANI',
 'COOCH BEHAR',
 'JHARIA KHAS',
 'Secunderabad',
 'UDAIPUR',
 'BHAGALPUR',
 'BERHAMPORE',
 'Dehradun',
 'SEONI',
 'Agra',
 'Nermand',
 'KAMAREDDY',
 'SRINAGAR',
 'MUDDEBIHAL',
 'SANTHAMAGULURU MANDAL',
 'Hyderabad',
 'KOLKATA 700034',
 'kolkata',
 'BARUIPUR',
 'KENDRAPARA',
 'NASHIK',
 'HOSHIARPUR',
 'BARSHI',
 'CHANDI MANDIR',
 'ujjain',
 'Haldwani',
 'Uttarkashi',
 'Old Goa',
 'MAHESHWAR',
 'HARDOI',
 'SHILLONG',
 'DHAMNOD DHAR DISTRICT',
 'CHAKDAHA',
 'CHIKKAMAGALURU',
 'MALDA',
 'DIMAPUR',
 'Nellore',
 'CUNCOLIM',
 'trivandrum',
 'KANPUR',
 'CHINNALAPATTI',
 'BAGESHWAR',
 'BARRACKPORE',
 'Dombivali  east',
 'New delhi',
 'Pune',
 'Pathanapuram',
 'JAUNPUR',
 'SOLAPUR',
 'MAHBUBNAGAR',
 'Nk sweets Vikasnagar',
 'DARJEELING',
 'LUDHIANA',
 'MUZAFFARPUR',
 'Sonbhadra',
 'KAKINADA',
 'HALDIA',
 'Tivim',
 'MANDVI KACHCHH DISTRICT',
 'SAMBALPUR',
 'KANNIYAKUMARI',
 'Chinchwad ,Pune',
 'PURNIA',
 'TADEPALLIGUDEM',
 'Ghaziabad',
 'AKOLA',
 'JORHAT',
 'RAMANAGARA',
 'Vijayapur',
 'BOKARO STEEL CITY',
 'KHAMMAM',
 'AURANGABAD',
 'GADARWARA',
 'SHIRDI',
 'VELLORE',
 'noida',
 'Mangaluru',
 'SINGRAULI',
 'THRIPPUNITHURA',
 'KENDUJHAR',
 'Nerul',
 'IMPHAL',
 'PALASBARI',
 'Chikkaballapur',
 'Andul near maya stores',
 'Mumbai',
 'SURAT',
 'CHITTOOR',
 'KADUR',
 'SURATGARH',
 'MIRA ROAD',
 'DINANAGAR',
 'ARAKANDANALLUR',
 'BHOPAL',
 'GURGAON',
 'Bhatgaon',
 'BHANJANAGAR',
 'MADHURAWADA',
 'ALMORA',
 'PRODDATUR',
 'SHRIGONDA',
 'FAIZABAD',
 'BHIWADI',
 'BANGALORE',
 'Vadodara',
 'Malda',
 'GUNTUR',
 'ROORKEE',
 'Golabandha',
 'BHATPARA',
 'Palampur',
 'PICHHORE SHIVPURI DISTRICT',
 'SIKANDARABAD INDUSTRIAL AREA',
 'MAVELIKKARA',
 'QADIAN',
 'KALABURGI',
 'Rangareddy',
 'DHARMANAGAR',
 'Jhajjar',
 'JAMSHEDPUR',
 'MEERUT',
 'GORAKHPUR',
 'MUDBIDRI',
 'VASCO DA GAMA',
 'NADIAD',
 'Janipur',
 'Nagpur',
 'KANPURKanpur',
 'Hamirpur',
 'AMRITSAR',
 'PALI',
 'BASSEIN',
 'THIRUVALLA',
 'AMBASAMUDRAM',
 'Pathanamthitta',
 'Vizianagaram',
 'CHITTOOR district',
 'RAE BARELI',
 'Benipur',
 'KHATIMA',
 'ERODE',
 'Ulhasnagar',
 'INDORE',
 'HALWARA',
 'Neelakudi, Thiruvarur',
 'SHIMLA',
 'DARBHANGA',
 'BURDWAN',
 'MIHAN',
 'KHURJA',
 'Choglamsar',
 'YAVATMAL',
 'Allahabad',
 'REDHAKHOL',
 'FARIDABAD',
 'FARIDPUR BAREILLY DISTRICT',
 'Rourkela',
 'VIZIANAGARAM',
 'DHARWAD',
 'DAULATPUR',
 'JALNA',
 'KARIMNAGAR',
 'ARVI,Dist- wardha',
 'Kurseong',
 'NANDURA',
 'DIU',
 'MUMBAI 400101',
 'PONNERI',
 'SERAMPORE',
 'Kinnigoli',
 'MIRZAPUR CUM VINDHYACHAL',
 'DIBRUGARH',
 'Deganga',
 'KARIMGANJ',
 'ALATHUR',
 'Aluva',
 'CHENGAMANAD',
 'NIZAMABAD',
 'LONI KALBHOR',
 'KHELARI',
 'Mira road',
 'GHAZIPUR',
 'KATIHAR',
 'NAGERCOIL',
 'KOTHAGUDEM',
 'BHINDER',
 'JALANDHAR',
 'NARASAPUR',
 'PALAKKAD',
 'PARVATHIPURAM',
 'SATNA',
 'Padur',
 'MADURAI',
 'BALLIA',
 'DEVARAKONDA',
 'THRISSUR',
 'DANGUWAPASI',
 'DHEMAJI',
 'PULGAON',
 'AKATHIYOOR',
 'Shakarpur',
 'Imphal east',
 'CHEBROLU',
 'Alappuzha',
 'AKBARPUR',
 'NABAGRAM COLONY',
 'KOZHIKODE',
 'NELAMANGALA',
 'KOTPAD, Koraput',
 'ALAPPUZHA',
 'BAREILLY',
 'TIRORA',
 'ZIRAKPUR',
 'AJMER',
 'MADIKERI',
 'Thrissur',
 'Dungarpur',
 'PANCHKULA',
 'DHOLKA',
 'DALTONGANJ',
 'BATHINDA',
 'KAMATGI,Hunugund taluk,Bagalkot district',
 'ARNI',
 'MORBI',
 'Jorhat',
 'Bantwal',
 'GANJAM',
 'DEWAS',
 'NAGAUR',
 'NEYYATTINKARA',
 'SILIGURI',
 'KUSHALANAGARA',
 'SIMLAPAL',
 'NARKATIAGANJ',
 'Wagholi, PUNE',
 'KOHIMA',
 'Surat',
 'THANE (W)',
 'PORVORIM',
 'Vasai',
 'SANGLI',
 'KOTTAYAM',
 'DHARMADOM',
 'NATHDWARA',
 'Varanasi',
 'ULLAL',
 'NANDED WAGHALA',
 'Sangareddy District',
 'Madurai',
 'thane',
 'BELAGAVI',
 'Kanniyakumari',
 'hyderabad',
 'ISNAPUR',
 'BASUDEBPUR',
 'PUTTAPARTHI',
 'BISWAN',
 'VILLUPURAM',
 'KAMPUR TOWN',
 'BARASAT',
 'Lakkavaram',
 'Hazaribagh',
 'MEERUT CANTT',
 'MATHURA',
 'Naigoan',
 'BHILAI',
 'JIND',
 'SANAND',
 'HOSKOTE',
 'PIMPRI CHINCHWAD',
 'Motihari',
 'davangere',
 'Jetpur',
 'RAIGANJ',
 'Noida extension',
 'DOHAD',
 'KARNAL',
 'Lonavala',
 'DEORIA',
 'Dombivli west',
 'YERRAGUNTLA',
 'Mandi',
 'JODHPUR',
 'SRIPERUMBUDUR',
 'HUBBALLI',
 'Satna',
 'SIDHI',
 'AGARTALA',
 'Durganagar ,Nimta south',
 'DURG',
 'KARIMPUR',
 'MUSTAFABAD',
 'Koothparamba',
 'ERNAKULAM',
 'Kattangal',
 'SIKAR',
 'Ranchi',
 'Dabi',
 'ARWAL',
 'PAKAUR',
 'PHIRANGIPURAM',
 'DHANBAD',
 'PUNJAIPULIAMPATTI',
 'ATTUR',
 'KADAPA',
 'Badlapur',
 'UDAIPURudipur',
 'ADAMPUR',
 'SATHUPALLY',
 'Bhubaneswar',
 'CHAMARAJANAGAR, district and subdistrict',
 'KRISHNAGIRI',
 'TUMAKURU',
 'UNNAO',
 'KAWARDHA',
 'BHANDARA',
 'Ponda',
 'BHILWARA',
 'SOHNA',
 'KANNAMANGALAM ALAPPUZHA DISTRICT',
 'DARWHA',
 'GANDHINAGAR',
 'TIRUR',
 'Dharmapuri',
 'KADUNGALLOOR',
 'mumbai',
 'NELLORE',
 'KANCHEEPURAM',
 'GAUTAM BUDDHA NAGAR',
 'KHANDWA',
 'MURWARA KATNI',
 'MAJHAULIA',
 'DAMAN',
 'MADUKKARAI',
 'Karunagappally',
 'Navi Mumbai',
 'Kalyan West',
 'Sangli',
 'Rishra',
 'Aurangabad',
 'Berhampur',
 'BELTANGADI',
 'Pedaamiram',
 'BIJPUR',
 'WARDHA',
 'FATEHABAD',
 'KADEGAON',
 'KONNAGAR',
 'MULAMTHURUTHY',
 'Totu',
 'UDMA',
 'RAYAGIRI',
 'Navsari',
 'BARNALA',
 'MANDYA',
 'Dombivli(E)',
 'KANCHIPURAM',
 'KANNUR',
 'MUMBAI,Malad West,Malvani.',
 'VILAYAT GIDC',
 'SIPCOT PERUNDURAI',
 'Maraimalainagar',
 'Kishanganj',
 'BETTIAH',
 'Dist Alipurduar',
 'BARSUR',
 'PANMANA',
 'sankra',
 'NAMCHI',
 'Ahemdabad',
 'SIDCUL HARIDWAR',
 'BOISAR',
 'THODUPUZHA',
 'Gurugram',
 'THIRUVIDAIMARUDUR',
 'JHUMRI TILAIYA',
 'LEH',
 'DURGAPUR',
 'JSW STEEL PLANT TOWNSHIP',
 'PUDUPAKKAM',
 'MUGHALSARAI',
 'Colachal, Kanya Kumari District',
 'ANJUNA Bardez Go',
 'NEW TOWN, Kolkata',
 'VARANAS',
 'Edapally',
 'CHAMBA',
 'Vaduthala,Kochi',
 'BETUL BAZAR',
 'VENNANDUR',
 'DAVANAGERE',
 'SALUR',
 'SATARA',
 'Debra',
 'Agartala',
 'EGRA',
 'town.budhana village. Husainpur kalan',
 'TRAL',
 'Panchkula',
 'Lucknow',
 'NAJIBABAD',
 'Greater NOIDA',
 'SRUNGAVARAPUKOTA',
 'TAKHATPUR',
 'MANIYAT',
 'MEDINIPUR',
 'RISHIKESH',
 'Dobiwali',
 'WCL UMRED',
 'SUNDARGARH',
 'SADASIVPET',
 'Thiruvananthapuram',
 'AGRA',
 'LUCKNOWLucknow',
 'dwarka',
 'Kottayam',
 'THOOTHUKKUDI',
 'BAMBOLIM',
 'SONIPAT',
 'chentrappinni',
 'RATNAGIRI',
 'BANGALORE, KARNATAKA',
 'ARNIA',
 'Tirunelveli',
 'PARDI',
 'ETMADPUR',
 'ISAGARH',
 'MORADABAD',
 'Kalyan',
 'joshi road karol bagh new Delhi',
 'AVANIGADDA',
 'RAIGARH MH',
 'Maheswaram mandal',
 'THANE west',
 'KHARAGPUR',
 'NAVSARI',
 'UTEKHOL',
 'Mysore',
 'ANANTAPUR',
 'Payyannur',
 'KARANJA Lad',
 'SAMASTIPUR',
 'OSMANABAD',
 'RAICHUR',
 'ANDIPATTI JAKKAMPATTI',
 'MARGAO',
 'KARWAR',
 'MAHNAR BAZAR',
 'HAZARIBAGH',
 'Vizianagaram a',
 'ARAKONAM',
 'INDUSTRIAL AREA DEVAKATHIKOPPA AND SIDLIPURA',
 'HARIDWAR',
 'PUTTUR',
 'Tuchamakeri',
 'SIWAN',
 'KANDIVALI (E), MUMBAI',
 'Patna',
 'JANGAON',
 'Ernakulam',
 'MERTA CITY',
 'RANNI',
 'DIGRAS',
 'ELURU',
 'NORTH GUWAHATI',
 'KANCHRAPARA',
 'Dindigul',
 'HUGLI CHINSURAH',
 'CHIRAWA',
 'PONDA',
 'HOOVINA HADAGALLI',
 'Ratia',
 'Kakkanadu.Ernakulam',
 'INDRI',
 nan,
 'MUDHOL',
 'Jodhpur',
 'MAHABUBNAGAR',
 'RAJAHMUNDRY',
 'Chidambaram',
 'VADAKARA',
 'THANJAVUR',
 'PARLAKHEMUNDI',
 'BANGAON',
 'BHARUCH',
 'SATTENAPALLI(md),guntur(dt)',
 'MAHINDRA WORLD CITY',
 'GOBARDANGA',
 'chennai',
 'Bihta Patna District',
 'BANDA',
 'DEOGHAR',
 'ALUVA',
 'SOUTH GOA',
 'DHARUHERA',
 'Hisar',
 'AMBALA',
 'DELHI',
 'BUDAUN',
 'UPPER TADONG',
 'VAPI',
 'KHORDHA',
 'DHULE',
 'Gwalior',
 'Thane',
 'Ratanpota',
 'LONI',
 'CHERUTHAZHAM',
 'GUDIYATHAM',
 'Vinukonda',
 'RUDRAPUR',
 'Vikarabad',
 'ANAKAPALLE',
 'RAJKOT',
 'RAIPUR',
 'CHERANALLUR',
 'PALAM',
 'PATHANAMTHITTA',
 'Mauganj',
 'JAMTARA',
 'Port Blair',
 'Paliganj',
 'HSIIDC SOHNA',
 'Konavattam',
 'BIKANER',
 'DERA BASSI INDUSTRIAL AREA',
 'SULUR',
 'BAHERI',
 'PIPARIYA',
 'GURDASPUR',
 'PALACOLE',
 'Vellichantai',
 'Mecheda',
 'THIRUVALLUR',
 'HASSAN (Amazon Arun)',
 'Mohali',
 'TINSUKIA',
 'YAMUNANAGAR',
 'GUNUPUR',
 'NAMAKKAL',
 'LUMDING',
 'agartala',
 'FIROZPUR',
 'MOHALI',
 'SUKDAL',
 'GONDIYA',
 'Burdwan',
 'CHITRADURGA',
 'BODINAYAKANUR',
 'OBRA sonebhadra',
 'MADDUR',
 'KARUR',
 'Cuttack',
 'SEDAM',
 'KASHIPUR',
 'ASANSOL',
 'PUDUKKOTTAI',
 'JALGAON',
 'GIRIDIH',
 'AZHIYUR',
 'Kamtaul',
 'MANDLA',
 'BHIMAVARAM',
 'CHANDIGAR',
 'MUMBAI dadar  west',
 'LACHHMANGARH',
 'SHIVAMOGGA',
 'Bhatapara',
 'HASSAN',
 'JUGAULI',
 'Sambalpur',
 'RATNAPUR',
 'DONGARGARH',
 'FATEHGARH',
 'BINDKI',
 'Navi Mumbai,',
 'PIPILI',
 'BHARWARI',
 'UJJAIN',
 'BIDAR',
 'NAVELIM',
 'KRISHNAPURAM',
 'NARPALA',
 'MADHUBANI',
 'RANIPETTAI',
 'AHMADNAGAR',
 'Hailakandi',
 'Gangapur city',
 'RISOD',
 'Nanded',
 'Noida',
 'BUXAR',
 'MANGATTIDAM',
 'phanigiri road,Chaitanyapuri,Hyderabad',
 'SUPAUL',
 'TIRUNELVELI',
 'PALLIPALAYAM',
 'NEW DELHI-110075',
 'HOWRAH',
 'KOTDWARA',
 'sriganganagar',
 'TIRUPPUR',
 'navi mumbai',
 'KARKAL',
 'DULIAJAN',
 'Andheri',
 'ORATHANADU',
 'GONDAL',
 'NARIKOMBU',
 'PHALTAN',
 'JANGAREDDIGUDEM',
 'KORBA',
 'Delhi',
 'NILOKHERI',
 'Pattambi',
 'THRIKKARUVA',
 'Banswara',
 'DAPOLI',
 'Bellary',
 'TIRUPATI',
 'JHANSI',
 'KARAIKAL',
 'TIRUPATHUR SIVAGANGA DISTRICT',
 'Vazhakkala',
 'Dhasai, shahapur',
 'BAHRAICH',
 'SOLAN',
 'Bhimavaram',
 'Koyyalagudem',
 'CHAMARAJANAGAR',
 'KALIMPONG',
 'BILIMORA',
 'TALIPARAMBA',
 'SHAHADA',
 'UPPALAGUPTAM',
 'VARANGAON',
 'BHATAPARA',
 'BAGRU',
 'ARMUR',
 'PARASI/Anpara',
 'Srikakulam',
 'CHENDAMANGALAM',
 'NASIK',
 'Forbesganj',
 'EDDUMAILARAM',
 'ANKLESHWAR',
 'MIRGANJ',
 'CHENGANNUR',
 'CHOCKLI',
 'Azamgarh',
 'SHEOPUR',
 'Bhatni bazar (Deoria)',
 'ETTUMANOOR',
 'PATAUDI',
 'SULTANPUR',
 'Chittoor District',
 'Kakkanad',
 'VAISHALI',
 'KOLHAPUR',
 'SRIKAKULAM',
 'Navi Mumbai,THANE',
 'Bandel',
 'Ilayangudi, Sivagangai',
 'PANIHATI',
 'MAHESANA',
 'Banaswadi, Bengaluru',
 'Jalgaon',
 'Kancheepuram',
 'PERIYAKULAM',
 'Razam',
 'RAXAUL BAZAR',
 'UDALGURI',
 'BADLI',
 'ahmedabad',
 'BHABHAR',
 'MATTANNUR',
 'VILLIAPPALLY',
 'KARNAPRAYAG',
 'Guntur dist ponnur',
 'BUNGAL',
 'KADIKKAD',
 'Bhilai',
 'THALAKKULATHUR',
 'BHUNTAR',
 'Hooghly',
 'DIGBOI',
 'REWARI',
 'HOSUR',
 'JAGTIAL',
 'CACHAR',
 'BEAWAR',
 'BUTIBORI',
 'Bhiwandi',
 'JAMKHANDI',
 'NEDUMANGAD',
 'Raipur',
 'SRI GANGANAGAR',
 'CHANCHAL',
 'KURUKSHETRA',
 'RAJPUR SONARPUR',
 'LALA',
 'HAILAKANDI',
 'NALGONDA',
 'Coochbehar',
 'PONDYCHERRY',
 'Margao',
 'BALAGHAT',
 'Amtady',
 'HALIYAL',
 'SHAHJAHANPUR',
 'ALLAPALLI',
 'SHAHDOL',
 'BELA PRATAPGARH',
 'UNA',
 'IMPHAL WEST',
 'TAMNAR',
 'UDHAMPUR',
 'ADDAKAL',
 'RAIA',
 'GAGRET INDUSTRIAL AREA',
 'PALLICHAL',
 'SHIVPURI',
 'MUZAFFARNAGAR',
 'Kanpur',
 'KANAKAMMACHATHRAM',
 'Bangalore North',
 'Mahadevapura, Bangalore',
 'PIDUGURALLA',
 'Ramapuram Chennai',
 'Damdim, jalpaiguri',
 'Kalady',
 'ARRAH',
 'PALAI',
 'Visakhapatnam',
 'TITABOR TOWN',
 'NALAGARH',
 'delhi',
 'KANINA',
 'JAMNAGAR',
 'BHACHAU',
 'ADALAJ',
 'Hanumangarh junction',
 'Alipurduat',
 'CHURU',
 'Bilaspur',
 'BALLEPALLE',
 'PANIPAT',
 'SASARAM',
 'TRIVANDRUM',
 'Pollachi',
 'RUSHIKONDA APIIC',
 'BARDHAMAN',
 'RATLAM',
 'PANDARIA',
 'MEDAK',
 'GADHINGLAJ',
 'PIMPRI CHINCHWAD Pune',
 'URAVAKONDA',
 'WALUJ MIDC',
 'Kottakkal',
 'Mukkom',
 'ROBERTSGANJ',
 'JATANI',
 'DEOBAND',
 'Irakasandra',
 'Jamshedpur',
 'Shahdara',
 'Hunsur',
 'Dharwad',
 'Venjarammoodu,thiruvananthapuram',
 'GUA',
 'RAYADURG',
 'MORENA',
 'BULANDSHAHR',
 'PARAVOOR',
 'FATEHPUR FATEHPUR DISTRICT',
 'Pimpri Chinchwad',
 'PATTIOM',
 'Bilimora',
 'Hubballi',
 'KURUD',
 'Vilangad',
 'Durgapur',
 'KANHANGAD',
 'MIRYALAGUDA',
 'Jaipur',
 'Muzzafarnagar',
 'MODINAGAR',
 'TALLAPUDI',
 'MOKOKCHUNG',
 'MUMBAI -400064',
 'Manjeri',
 'TONK',
 'SULLURU',
 'CHIDAMBARAM',
 'BINA',
 'Faridabad',
 'AROOR',
 'TIRUTTANI',
 'SANGAREDDY',
 'Coimbatore',
 'HINDALCO INDUSTRIES LTD',
 'SAHARANPUR',
 'MANNARKAD',
 'Bettiyah',
 'Lathi',
 'Sikar',
 'SHERGHATI',
 'SULYA',
 'Khargone',
 'CURCHOREM',
 'Karur',
 'OOTY',
 'SAHARSA',
 'IROOPARA',
 'Avinashi, Tirupur',
 'Port blair',
 'SITAMARHI',
 'Vasai(west)',
 'MAYILADUTHURAI',
 'KANGRA',
 'dehradun',
 'KANDUKUR',
 'Derlakkatte',
 'THARAMANGALAM',
 'Mathura',
 'BANTVAL',
 'CHITTAURGARH',
 'Anand',
 'BASMATH',
 'IMPHAL East',
 'AMBUR',
 'Vandipettai, Kurukupuram, Rasipuram, Namakkal',
 'VALSAD',
 'Barrackpore',
 'SANGAMNER',
 'PETLAD',
 'Krishna District',
 'MANDVI SURAT DISTRICT',
 'Tumkur district',
 'Jagatdal',
 'Kotra Road ,Raigarh',
 'Danapur',
 'Balaghat',
 'BERI',
 'MAPUSA',
 'GANGTOK',
 'KALAMNURI',
 'PEDAPARUPUDI',
 'RAYACHOTI',
 'GUDUVANCHERY',
 'ICHALKARANJI',
 'SOUTH ANDAMAN',
 'Sabbavaram,Visakhapatnam',
 'Veraval',
 'KRISHNAPUR HUGLI DISTRICT',
 'KOLLEGAL',
 'Kalachowki Mumbai',
 'CURTORIM',
 'P.O.CHIRAKKAL',
 'RAJAM',
 'AMBIKAPUR',
 'Sant kabirnagar.',
 'BangaLore',
 'BAHJOI',
 'P.N.PATTI',
 'CHANDRAPUR',
 'Dombivli-East',
 'RAJGARH DHAR DISTRICT',
 'Ambikapur',
 'BALLY',
 'KANJIKODE INDUSTRIAL AREA',
 'NAKREKAL',
 'SAGAR',
 'Kandivali (W)',
 'MUMBAI 400023',
 'NEW DELHIhbjo',
 'BAHADURGARH',
 'MANDI DABWALI',
 'PEDDAPURAM',
 'NADIM TIRUVURU',
 'gorakhpur',
 'Panaji',
 ...]

In [ ]:
df['ship-city']=df['ship-city'].fillna("Unknown Cities")

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Qty                       0
Amount                    0
ship-city                 0
ship-state               33
ship-postal-code         33
promotion-ids         49153
B2B                       0
Total Amount           7795
dtype: int64

In [ ]:
df[df['ship-state'].isnull()].head(3)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B,Total Amount
1871,404-0566904-4825137,4/29/2022,In Transit,Amazon,Amazon.in,Expedited,J0301,J0301-TP-L,Top,L,B099S6795L,1,493.0,Unknown Cities,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,493.0
1872,404-0566904-4825137,4/29/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-L,kurta,L,B09811Y7WM,1,458.0,Unknown Cities,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,458.0
8752,406-4003386-8768363,4/25/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3376,JNE3376-KR-M,kurta,M,B082W7HW86,1,432.0,Unknown Cities,NaN,NaN,NaN,False,432.0

In [ ]:
df['ship-state'] = df['ship-state'].fillna("Unknown")
df['ship-postal-code'] = df['ship-postal-code'].fillna("Unknown")

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Qty                       0
Amount                    0
ship-city                 0
ship-state                0
ship-postal-code          0
promotion-ids         49153
B2B                       0
Total Amount           7795
dtype: int64

In [ ]:
df['promotion-ids'] = df['promotion-ids'].fillna("No Promotions")
df['Total Amount'] = df['Amount'] * df['Qty']

In [ ]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
promotion-ids         0
B2B                   0
Total Amount          0
dtype: int64

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B,Total Amount
0,405-8078784-5731545,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,647.62,MUMBAI,MAHARASHTRA,400081.0,No Promotions,False,0.0
1,171-9198151-1101146,4/30/2022,Delivered,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False,406.0
2,404-0687676-7273146,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True,329.0
3,403-9615377-8133951,4/30/2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,No Promotions,False,0.0
4,407-1069790-7240320,4/30/2022,In Transit,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,574.00,CHENNAI,TAMIL NADU,600073.0,No Promotions,False,574.0

In [ ]:
df.shape

(128975, 19)

In [ ]:
df.to_excel("Cleaned_amazon_data.xlsx")